<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Value of Attributes -->
	 <bean id="p1" class="com.model.Person">
	 <property name="name" value="Shubhangi Shelke"></property> 
	 <property name="id" value="101"></property> 
	 <property name="city" value="Pune"></property> 
		</bean>
<!-- =============================================================== -->
	
	
	<!-- Value as a Field -->

 <!-- <bean id="p1" class="com.model.Person">
	 <property name="name" > <value> Shyam</value> </property>
	 <property name="id" > <value> 101</value> </property>
	 <property name="city" > <value> Shevgaon</value> </property>
	  </bean> -->
<!-- ================================================================ -->

<!--  Value of Schema element -->

<!--  <bean  id="u1" class="com.model.User" p:name="Riya"></bean>    -->

</beans>