<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here Constructor injection -->

	<!-- <bean id="q1" class="com.model.question"> <constructor-arg value="1"> 
		</constructor-arg> <constructor-arg value="java"> </constructor-arg> <constructor-arg 
		value="What is interface...?"></constructor-arg> <constructor-arg> <list> 
		<value>interface contain only Method Declaration....</value> <value>Interface 
		Achieve 100% Abstraction...</value> <value>Interface Must be Implemented...</value> 
		</list> </constructor-arg> </bean> -->

	<!-- =========================================================== -->

	<!-- Setter injection -->

	<bean id="q1" class="com.model.question">
		<property name="id" value="1"></property>
		<property name="subject" value="java"></property>
		<property name="qname" value="what is Interface...?"></property>
		<property name="answer">
			<list>
				<value> 1 . interface contain only Method Declaration...</value>
				<value>2 .Interface Achieve 100% Abstraction...</value>
				<value>3 .Interface Must be Implemented...</value>
			</list>
		</property>
	</bean>
</beans>

