<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here Constructor injection -->

	<!-- <bean id="q1" class="com.model.Question"> <constructor-arg value="101"></constructor-arg> 
		<constructor-arg value="What is java...?"></constructor-arg> <constructor-arg> 
		<list> <value>Java is programming Language...</value> <value>Java is platform...</value> 
		<value>Java is Secured...</value> </list> </constructor-arg> </bean> -->

	<!-- =========================================================== -->

	<!-- Setter injection -->

	<bean id="q1" class="com.model.Question">
		<property name="id" value="101"></property>
		<property name="qname" value="what is java...?"></property>
		<property name="answer"></property>

		<list>

			<value>Java is programming Language...</value>
			<value>Java is platform...</value>
			<value>Java is Secured...</value>

		</list>
	</bean>
</beans>

