<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here Constructor injection -->

	<!-- <bean id="q1" class="com.model.Question"> <constructor-arg value="1"></constructor-arg> 
		<constructor-arg value="What is interface...?"></constructor-arg> <constructor-arg> 
		<list> <value>interface contain only Method Declaration....</value> <value>Interface 
		Achieve 100% Abstraction...</value> <value>Interface Must be Implemented...</value> 
		</list> </constructor-arg> </bean> -->

	<!-- =========================================================== -->

	<!-- Setter injection -->

	<bean id="q1" class="com.model.Question">
		<property name="id" value="1"></property>
		<property name="qname" value="what is java...?"></property>
		<property name="answer">

			<list>
				<value>interface contain only Method Declaration...</value>
				<value>Interface Achieve 100% Abstraction...</value>
				<value>Interface Must be Implemented...</value>
			</list>
		</property>



	</bean>
</beans>

